beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
confluent-kafka==1.5.0
filelock==3.0.12
idna==2.10
lxml==4.6.2
neo4j==4.2.1
neo4jrestclient==2.1.1
pytz==2021.1
requests==2.25.1
requests-file==1.5.1
six==1.15.0
soupsieve==2.1
tldextract==3.1.0
urljoin==1.0.0
urllib3==1.26.3
